<!DOCTYPE html>
<html style="margin:0px;padding:0px;">
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
</head>
<body style="margin:0px;padding:0px;">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" style="margin:0px auto;border-collapse:collapse; border-width:0px; font-family:Lucida Sans Unicode,Tahoma,sans-serif;font-size: 11pt;background-color:#ffffff; color: #515151;">
		<tr>
			<td border="0" valign="top" style="border:none; padding:0px; text-align:left; ">
				<p style="margin: 0px 16px 1.6em; clear: both;">
					{{GREETING}}
				</p>
				<p style="margin: 0px 16px 1.6em; clear: both;">
					{{MESSAGE}}
				</p>
				<p style="margin: 0px 16px 1.6em; border-top: 1px dotted #CCCCCC; float: left; font-style: italic; padding-top: 10px;">
					{{SIGNATURE}}
				</p>
			</td>
		</tr>
	</table>
</body>
</html>
