<span class="item sort" data-bind="dropdown: {control: false}, css: {'sort_asc': sortOrder() === Enums.SortOrder.Asc, 'sort_desc': sortOrder() === Enums.SortOrder.Desc},
		customTooltip: 'COREWEBCLIENT/ACTION_SORT_BY'">
	<span class="icon"></span>
	<span class="text" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SORT_BY'}"></span>
	<!-- <span class="icon arrow"></span> -->
	<span class="dropdown">
		<span class="dropdown_helper">
			<span class="dropdown_arrow"><span></span></span>
			<span class="dropdown_content" data-bind="foreach: aSortList">
				<span class="item" data-bind="click: function () { $parent.executeSort(sSortBy); }, css: {'selected': $parent.sortBy() === sSortBy}">
					<span data-bind="text: sText"></span>
					<span class="sort-order-icon" data-bind="visible: $parent.sortBy() === sSortBy, css: {'sort-order-desc-icon': $parent.sortOrder() === Enums.SortOrder.Desc}"></span>
				</span>
			</span>
		</span>
	</span>
</span>
