<!DOCTYPE html>
<html>
	<head>
		<title>{{SiteName}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="icon" type="image/ico" href="favicon.ico">
		<link type="text/css" rel="stylesheet" href="./static/styles/themes/{{Theme}}/styles.css" />
	</head>
	<body>
		<div class="screen LoginLayout with_bottom_text">
			<div class="login_panel login">
				<div class="login_panel_content">
					<div class="header">
						<span class="icon"></span>
					</div>
					<div class="welcome welcome-reset-password">
						<h2>{{ConfirmRecoveryEmailHeading}}</h2>
						<span>{{ConfirmRecoveryEmailInfo}}</span>
					</div>
					<div class="content login clearfix">
						<div></div>
						<div class="row buttons">
							<a href="{{OpenAppUrl}}" class="button">{{ActionOpenApp}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
