<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB'}"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span data-bind="html: recoveryEmailInfo"></span>
			</div>
		</div>
		<div class="buttons" style="text-align: left;">
			<span class="button" data-bind="visible: !recoveryEmail()">
				<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SET_RECOVERY_EMAIL'}, click: setRecoveryEmail"></span>
			</span>
			<span class="button" data-bind="visible: recoveryEmail">
				<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_CHANGE_RECOVERY_EMAIL'}, click: changeRecoveryEmail"></span>
			</span>
		</div>
	</div>
</div>
