<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<b class="value" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB'}"></b>
			</div>
			<div class="row hint">
				<span class="value" data-bind="html: recoveryEmailInfo"></span>
			</div>
			<div class="buttons" style="text-align: left;">
				<span class="button" data-bind="visible: !recoveryEmail()">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SET_RECOVERY_EMAIL'}, click: setRecoveryEmail"></span>
				</span>
				<span class="button" data-bind="visible: recoveryEmail">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_CHANGE_RECOVERY_EMAIL'}, click: setRecoveryEmail"></span>
				</span>
			</div>
		</div>
	</div>
</div>
