<div class="screen LoginLayout" style="display: none;" data-bind="css: {'with_bottom_text': sBottomInfoHtmlText !== ''}">
	<div class="login_panel login">
		<div class="login_panel_content" style="backface-visibility: inherit;">
			<div class="header" data-bind="css: {'custom_logo': sCustomLogoUrl}">
				<!-- ko if: sCustomLogoUrl === '' --><span class="icon"></span><!-- /ko -->
				<!-- ko if: sCustomLogoUrl !== '' --><img data-bind="attr: {'src': sCustomLogoUrl}"/><!-- /ko -->
			</div>
			
			<div class="welcome welcome-reset-password">
				<h2 data-bind="i18n: {'key': '%MODULENAME%/HEADING_RESET_PASSWORD'}"></h2>
				<span data-bind="html: resetPasswordHashInfo, visible: step() === 0 && !passwordChanged()"></span>
				<span data-bind="i18n: {'key': '%MODULENAME%/INFO_PASSWORD_CHANGED'}, visible: step() === 0 && passwordChanged()"></span>
				<span data-bind="html: recoverThroughEmailText, visible: step() === 2"></span>
				<span data-bind="html: sendRecoveryEmailText, visible: step() === 3"></span>
			</div>
			
			<div class="content login clearfix">
				<form class="form fields" action="#" autocomplete="on" onsubmit="return false;" 
					  data-bind="command: changePasswordCommand, visible: step() === 0 && resetPasswordHashUserPublicId() && !passwordChanged()">
					<div class="fieldset">
						<div class="row password" data-bind="css: {'focused': newPasswordFocus(), 'filled': newPassword().length > 0, shake: shake()}">
							<label class="placeholder"></label>
							<span class="value">
								<input class="input" name="newPassword" autocomplete="new-password" type="password" spellcheck="false"
									data-bind="value: newPassword, hasfocus: newPasswordFocus, onFocusSelect: true, valueUpdate: 'afterkeydown', 
												i18n: {'key': 'COREWEBCLIENT/LABEL_NEW_PASSWORD', 'type': 'placeholder'}" />
							</span>
						</div>
						<div class="row password" data-bind="css: {'focused': confirmPasswordFocus(), 'filled': confirmPassword().length > 0, shake: shake()}">
							<label class="placeholder"></label>
							<span class="value">
								<input class="input" name="confirmPassword" autocomplete="new-password" type="password" spellcheck="false"
									data-bind="value: confirmPassword, hasfocus: confirmPasswordFocus, onFocusSelect: true, valueUpdate: 'afterkeydown', 
												i18n: {'key': 'COREWEBCLIENT/LABEL_CONFIRM_PASSWORD', 'type': 'placeholder'}" />
							</span>
						</div>
					</div>
					<div class="row buttons">
						<button type="submit" class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CHANGE_PASSWORD'}"></button>
					</div>
				</form>
				<div class="fieldset" data-bind="visible: step() === 0 && passwordChanged()">
					<div class="row buttons">
						<a href="#" class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SIGN_IN'}"></a>
					</div>
				</div>
				<div class="fieldset" data-bind="visible: step() === 0 && !gettingUserPublicId() && !resetPasswordHashUserPublicId()">
					<div class="row buttons">
						<a class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_RESET_PASSWORD'}, attr: {'href': sResetPasswordHash}"></a>
					</div>
					<div class="row buttons">
						<a href="#" class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SIGN_IN'}"></a>
					</div>
				</div>
				
				<form class="form fields" action="#" autocomplete="on" onsubmit="return false;" data-bind="command: continueCommand, visible: step() === 1">
					<div class="fieldset">
						<div class="row email" data-bind="css: {'focused': emailFocus(), 'filled': email().length > 0, shake: shake()}">
							<label class="placeholder"></label>
							<span class="value">
								<input class="input" name="email" type="text" spellcheck="false"
									data-bind="value: email, hasfocus: emailFocus, onFocusSelect: true, valueUpdate: 'afterkeydown', i18n: {'key': '%MODULENAME%/LABEL_ACCOUNT_EMAIL', 'type': 'placeholder'}" />
							</span>
						</div>
					</div>
					<div class="row buttons">
						<button type="submit" class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_CONTINUE'}"></button>
					</div>
					<div class="row buttons">
						<button class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_BACK'}, click: backToStepLogin"></button>
					</div>
				</form>
				<div class="fieldset" data-bind="visible: step() === 2">
					<div class="row buttons">
						<button class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SEND'}, command: sendRecoveryEmailCommand"></button>
					</div>
					<div class="row buttons">
						<button class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_BACK'}, click: backToStep1"></button>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="vhelper"></div>
	<div class="bottom_description" data-bind="visible: sBottomInfoHtmlText !== '', html: sBottomInfoHtmlText"></div>
</div>
