<div class="screen LoginLayout" style="display: none;">
	<div class="views">
		<!-- Your main view, should have "view-main" class -->
		<div class="view contacts-view">
			<div class="pages">
				<div class="page">
					<div class="page-content">
						<div class="content-block">
							<!-- ko if: sCustomLogoUrl === '' --><span class="logo-icon"></span><!-- /ko -->
							<!-- ko if: sCustomLogoUrl !== '' --><img data-bind="attr: {'src': sCustomLogoUrl}"/><!-- /ko -->
			
							<div>
								<h2 data-bind="i18n: {'key': '%MODULENAME%/HEADING_RESET_PASSWORD'}"></h2>
								<span data-bind="html: resetPasswordHashInfo, visible: step() === 0 && !passwordChanged()"></span>
								<span data-bind="i18n: {'key': '%MODULENAME%/INFO_PASSWORD_CHANGED'}, visible: step() === 0 && passwordChanged()"></span>
								<span data-bind="html: recoverThroughEmailText, visible: step() === 2"></span>
								<span data-bind="html: sendRecoveryEmailText, visible: step() === 3"></span>
							</div>

							<form action="#" autocomplete="on" onsubmit="return false;" 
									  data-bind="command: changePasswordCommand, visible: step() === 0 && resetPasswordHashUserPublicId() && !passwordChanged()">
								<div class="list-block">
									<ul>
										<li>
											<div class="item-content" data-bind="css: {'focused': newPasswordFocus(), 'filled': newPassword().length > 0, shake: shake()}">
												<div class="item-media aurora-icons password"><i class="icon"></i></div>
												<div class="item-inner">
													<div class="item-input">
														<input class="input" name="newPassword" autocomplete="new-password" type="password" spellcheck="false"
															data-bind="value: newPassword, hasfocus: newPasswordFocus, onFocusSelect: true, valueUpdate: 'afterkeydown', 
																		i18n: {'key': 'COREWEBCLIENT/LABEL_NEW_PASSWORD', 'type': 'placeholder'}" />
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="item-content" data-bind="css: {'focused': confirmPasswordFocus(), 'filled': confirmPassword().length > 0, shake: shake()}">
												<div class="item-media aurora-icons password"><i class="icon"></i></div>
												<div class="item-inner">
													<div class="item-input">
														<input class="input" name="confirmPassword" autocomplete="new-password" type="password" spellcheck="false"
															data-bind="value: confirmPassword, hasfocus: confirmPasswordFocus, onFocusSelect: true, valueUpdate: 'afterkeydown', 
																		i18n: {'key': 'COREWEBCLIENT/LABEL_CONFIRM_PASSWORD', 'type': 'placeholder'}" />
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div>
									<p>
										<button type="submit" tabindex="5" class="button button-fill login" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CHANGE_PASSWORD'}"></button>
									</p>
								</div>
							</form>
							
							<div data-bind="visible: step() === 0 && passwordChanged()">
								<p>
									<a href="#">
										<button class="button button-fill login" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SIGN_IN'}"></button>
									</a>
								</p>
							</div>
							<div data-bind="visible: step() === 0 && !gettingUserPublicId() && !resetPasswordHashUserPublicId()">
								<p>
									<a data-bind="attr: {'href': sResetPasswordHash}">
										<button class="button button-fill login" data-bind="i18n: {'key': '%MODULENAME%/ACTION_RESET_PASSWORD'}"></button>
									</a>
								</p>
								<p>
									<a href="#">
										<button class="button button-fill login" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SIGN_IN'}"></button>
									</a>
								</p>
							</div>

							<form action="#" autocomplete="on" onsubmit="return false;" data-bind="command: continueCommand, visible: step() === 1">
								<div class="list-block">
									<ul>
										<li>
											<div class="item-content" data-bind="css: {'focused': emailFocus(), 'filled': email().length > 0, shake: shake()}">
												<div class="item-media aurora-icons email"><i class="icon"></i></div>
												<div class="item-inner">
													<div class="item-input">
														<input class="input" name="email" type="text" spellcheck="false"
															data-bind="value: email, hasfocus: emailFocus, onFocusSelect: true, valueUpdate: 'afterkeydown', 
																		i18n: {'key': '%MODULENAME%/LABEL_ACCOUNT_EMAIL', 'type': 'placeholder'}" />
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div>
									<p>
										<button type="submit" class="button button-fill login" data-bind="i18n: {'key': '%MODULENAME%/ACTION_CONTINUE'}"></button>
									</p>
									<p>
										<button class="button button-fill login" data-bind="i18n: {'key': '%MODULENAME%/ACTION_BACK'}, click: backToStepLogin"></button>
									</p>
								</div>
							</form>
							
							<div data-bind="visible: step() === 2">
								<p>
									<button class="button button-fill login" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SEND'}, command: sendRecoveryEmailCommand"></button>
								</p>
								<p>
									<button class="button button-fill login" data-bind="i18n: {'key': '%MODULENAME%/ACTION_BACK'}, click: backToStep1"></button>
								</p>
							</div>
							<div class="description" style="margin-top: 40px;" data-bind="visible: sBottomInfoHtmlText !== '', html: sBottomInfoHtmlText"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
