<div class="popup mandatory_configuration" style="display: none">
  <div class="mask"></div>
  <div class="popup_panel">
    <span class="close" data-bind="click: cancelPopup"></span>
    <div class="panels settings">
      <div class="security">
        <div class="top_panel panel_security_two_factor">
          <div class="fields">
            <!-- ko template: {name: '%ModuleName%_SettingsFormFields', data: SettingView} --><!-- /ko -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="helper"></span>
</div>
