<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="fieldgroup">
				<div class="row">
					<b data-bind="i18n: {'key': '%MODULENAME%/HEADING_IP_ALLOWLIST'}"></b>
				</div>

				<!-- ko template: { name: '%ModuleName%_IPAllowListSettings' } --><!-- /ko -->

				<div class="buttons" style="text-align: left;">
					<span class="button" data-bind="click: addIpToAllowlist">
						<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_ADD_IP'}"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
